include partials/head
include partials/header
include partials/article
include partials/layout
include partials/comments
include partials/footer
include partials/body-end


doctype html
html(lang="de")
  head
    title #{pageTitle} | Das Filter
    meta(name="description", content=pageDescription)

    meta(property="og:title", content="#{pageTitle}")
    meta(property="og:description", content=pageDescription)
    meta(property="og:url", content=urls.full())
    meta(property="og:type", content="article")
    meta(property="og:image", content=urls.image(article.header.image, 'x'))

    link(href=urls.rss() rel="alternate" type="application/rss+xml" title="Das Filter RSS feed")

    +head

  body.article-page
    +header(classifications, headerTitle, headerTitleUrl)
    .wrapper
      +header-categories(classifications, classification)

      main
        +article(article)
        +layout(relatedLayout)
        +comments

        if nextArticle
          a.article-next(href=urls.article(nextArticle.classification.category, nextArticle))
            h4
              span.header1= nextArticle.title
              span.header2= nextArticle.subtitle
        if prevArticle
          a.article-prev(href=urls.article(prevArticle.classification.category, prevArticle))
            h4
              span.header1= prevArticle.title
              span.header2= prevArticle.subtitle

      +footer(classifications)
    +body-end
