include partials/head
include partials/header
include partials/article
include partials/comments
include partials/footer
include partials/body-end


doctype html
html(lang="de")
  head
    title #{article.title} &ndash; #{article.subtitle} | Das Filter
    meta(name="description", content=article.teaser)

    meta(property="og:title", content="#{article.title} - #{article.subtitle}")
    meta(property="og:description", content=article.teaser)
    meta(property="og:url", content=urls.full())
    meta(property="og:type", content="article")
    meta(property="og:image", content=urls.image(article.header.image, 'x'))

    link(href=urls.rss() rel="alternate" type="application/rss+xml" title="Das Filter RSS feed")

    +head

  body.article-page
    +header(classifications, classification)
    +header-categories(classifications, classification)

    main
      +article(article)
      +comments

    +footer(classifications)
    +body-end
