include partials/head
include partials/header
include partials/teaser
include partials/more
include partials/footer
include partials/body-end


mixin cls-aside-article-collection(c)
  .cls-aside-group
    h2(class="cls-aside-group-title")= c.title
    each article in c.articles
      +teaser('teaser-cls-aside', article)


mixin cls-aside-image-teaser(t)
  .cls-aside-group
    h2(class="cls-aside-group-title")= t.title


mixin cls-aside(aside)
  each item in aside
    case item.type_
      when "article-collection": +cls-aside-article-collection(item.collection)
      when "newest-of-category": +cls-aside-article-collection(item)
      when "newest-of-collection": +cls-aside-article-collection(item)
      when "image-teaser": +cls-aside-image-teaser(item.teaser)


doctype html
html(lang="de")
  head
    title #{classification.title} | Das Filter

    meta(property="og:title", content="Das Filter")
    meta(property="og:description", content="#{classification.title}")
    meta(property="og:url", content=urls.full())
    meta(property="og:type", content="website")
    meta(property="og:image", content=urls.asset('img/df_logo_3d.jpg'))

    link(href=urls.rss() rel="alternate" type="application/rss+xml" title="Das Filter RSS feed")

    +head

  body
    +header(classifications, classification)

    main
      .index-page(class="cls-page")
        .cls-main
          .cls-main-inner
            each article in articles
              +teaser('teaser-cls', article, true)
            if nextDate
              +more(urls.current() + '?date=' + nextDate)
        aside(class="cls-aside")
          .cls-aside-inner
            if stage
              +cls-aside(stage.aside)

    +footer
    +body-end
