include partials/head
include partials/header
include partials/footer
include partials/body-end
include partials/image


doctype html
html(lang="de")
  head
    title #{pageTitle} | Das Filter
    meta(name="description", content=pageDescription)

    meta(property="og:title", content=pageTitle)
    meta(property="og:description", content=pageDescription)
    meta(property="og:url", content=urls.full())
    meta(property="og:type", content="website")
    meta(property="og:image", content=urls.asset('images/df_logo_3d.jpg'))

    +head

  body.contributors-page
    +header(classifications)
    .wrapper
      main
        +header-categories(classifications, classification)

        h1 Autoren & Mitwirkende
        ul.contributors
          each c in contributors
            li.contributor
              a(href=urls.contributor(c))
                h3 #{c.firstname} #{c.lastname}

      +footer(classifications)
    +body-end
