include partials/head
include partials/header
include partials/content
include partials/footer
include partials/body-end


doctype html
html(lang="de")
  head
    if page.subtitle
      title #{page.title} &ndash; #{page.subtitle} | Das Filter
    else
      title #{page.title} | Das Filter
    meta(name="description", content=pageDescription)

    meta(property="og:title", content=pageTitle)
    meta(property="og:description", content=pageDescription)
    meta(property="og:url", content=urls.full())
    meta(property="og:type", content="website")
    meta(property="og:image", content=urls.asset('images/df_logo_3d.jpg'))

    +head

  body.generic-page
    +header(classifications, headerTitle, headerTitleUrl)
    .wrapper
      main
        +header-categories(classifications, classification)

        article
          header.content-header
            .title-outer
              .title-inner
                .title
                  h1
                    span.header-1= page.title
                    if page.subtitle
                      span.header-2= page.subtitle
                  span.seperator

        div
          +content(page.sections)
      +footer(classifications)
    +body-end
