include partials/content

doctype xml
feed(xmlns="http://www.w3.org/2005/Atom", xml:lang="de")
  if classification
    title Das Filter | #{classification.title}
    subtitle= classification.title
  else
    title Das Filter
    subtitle Medium für Gegenwart

  if articles.length > 0
    updated= new Date(articles[0].date).toUTCString()

  icon= urls.asset('images/df_logo_3d.jpg')
  id http://dasfilter.com/rss
  link(type="text/html", href="http://dasfilter.com", rel="alternate")
  
  each article in articles
    entry
      published= new Date(article.date).toUTCString()
      updated= new Date(article.date).toUTCString()
      link(href=urls.articleFull(article.classification.category, article), rel="alternate")
      id= urls.articleFull(article.classification.category, article)
      title #{article.title} - #{article.subtitle}
      content(type="html")
       | <![CDATA[
       +image-content(article.header.image, 'article-header')
       +content(article.sections)
       | ]]>
      if article.contributors && article.contributors.length
        each contributor in article.contributors
          author
            name #{contributor.firstname} #{contributor.lastname}
