doctype html
html(lang="de", ng-app="dfAdmin")
  head
    title Admin | DF

    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="shortcut icon", href="#{paths.assets}/images/favicon.ico")

    link(rel="stylesheet", href="#{paths.assets}/css/main.css")
    link(rel="stylesheet", href="#{paths.assets}/css/vendor.css")

    script(type="text/javascript").
      window.DFA = {
        app: !{JSON.stringify(clientData)},
        user: !{JSON.stringify(credentials)}
      };

  body
    div(ng-controller="AppCtrl", class="container")
      div(class="row")
        div(class="col-md-2")
          img(class="logo", src="#{paths.assets}/images/logo.svg")

          ul(class="nav nav-pills nav-stacked")
            li(ng-repeat="page in pages", ng-class="{ active : page.isActive }")

              a(ng-if="page.path", href="\#{{ page.path }}") {{ page.title }}
              span(ng-if="!page.path") {{ page.title }}

              ul(ng-if="page.children")
                li(ng-repeat="subPage in page.children")
                  a(href="\#{{ subPage.path }}") {{ subPage.title }}

          ul(class="nav nav-pills nav-stacked")
            li
              a(href="/logout") logout

        div(ng-view, class="content col-md-10")
          p CONTENT

    //- scripts

    script(src="#{paths.assets}/scripts/main.js")
