include image
include content
include slideshow
include teaser


mixin contributors(contributors)
  each c, index in contributors
    if index > 0
      | ,&nbsp
    if c.field
      span(class="field") #{c.field}:
        | &nbsp;
    span(class="name") #{c.contributor.firstname} #{c.contributor.lastname}


mixin article-byline(contributors, date)
  small(class="byline")
    span(class="date")= formatDate(date)
    if contributors.length > 0
      span(class="contributors")
        span(class="divider") &nbsp;&ndash;&nbsp;
        +contributors(contributors)


//- main mixin

mixin article(article)
  article(class="article-wrapper")
    - var hasAltImage = article.header.altImage && article.header.altImage.id_;
    - var hasEmbed = article.header.embed && article.header.embed.embed;
    - var hasGallery = article.header.gallery && article.header.gallery.id_;

    header(class="content-header")
      .title-outer
        .title-inner
          .title
            h1
              span(class="header-1")= article.title
              span(class="header-2")= article.subtitle
            span(class="seperator")
            +article-byline(article.contributors, article.date)

      if hasEmbed
        .article-media(class="#{article.header.embed.type}")
          .media-outer
            .media-inner
              div(class="embed-source")!= article.header.embed.embed

      else if hasGallery
        .article-media
          .media-outer
            .media-inner
              +slideshow(article.header.gallery.images, 'slideshow-header')
      else
        .article-media(class="article-image")
          .media-outer
            .media-inner
              if hasAltImage
                +image(article.header.altImage, 'article-header')
              else
                +image(article.header.image, 'article-header')

      if article.header.caption
        .caption-outer
          .caption-inner
            div!= markdown(article.header.caption)


    +content(article.sections)

    .article-footer-outer
      .article-footer-inner
        .article-footer-items-outer
          .article-footer-items-inner.article-social-items

            h4.items-title Teilen:
            - var shareUrl = encodeURIComponent(urls.full())
            - var shareTitle = encodeURIComponent(article.title + ' - ' + article.subtitle)
            ul
              li
                a(class="article-social-link twitter",
                  href="https://twitter.com/share?url=#{shareUrl}&text=#{shareTitle}",
                  target="_blank",
                  onclick="ga('send', 'event', 'twitter', 'share', '#{urls.full()}');"
                  title="Twitter")
              li
                a(class="article-social-link facebook",
                  href="https://facebook.com/sharer.php?u=#{shareUrl}",
                  target="_blank",
                  onclick="ga('send', 'event', 'facebook', 'share', '#{urls.full()}');"
                  title="Facebook")
              li
                a(class="article-social-link google-plus",
                  href="https://plus.google.com/share?url=#{shareUrl}",
                  onclick="ga('send', 'event', 'gplus', 'share', '#{urls.full()}');"
                target="_blank"
              title="Google+")

          .article-footer-items-inner.article-cls-items
            if article.classification.collections.length > 0
              h4.items-title In:
              ul
                each item in article.classification.collections
                  li
                    a(href=urls.classification(item))= item.title


            if article.classification.tags.length > 0
              h4.items-title Tags:
              ul
                each item in article.classification.tags
                  li
                    a(href=urls.tag(item))= item.name


    if related.length > 0
      .article-related-outer
        .article-related-inner
          .article-related-title
            h4 Weitere Geschichten
          each relatedArticle in related
            +teaser-clspage('teaser-article-related', relatedArticle)
