include image
include content
include slideshow
include teaser
include share



mixin contributors(contributors)
  each c, index in contributors
    if index > 0
      | ,&nbsp
    if c.field
      | #{c.field}:&nbsp;
    a(href=urls.contributor(c.contributor)) #{c.contributor.firstname} #{c.contributor.lastname}



mixin article-byline(contributors, date)
  span.seperator
  small.byline
    span.date= formatDate(date)
    span.divider &nbsp;•&nbsp;
    span.category
      a(href=urls.classification(article.classification.category))= article.classification.category.title
    if contributors.length > 0
      span.divider &nbsp;&ndash;&nbsp;
      span.contributors
        +contributors(contributors)



//- main mixin

mixin article(article)
  +share-code

  article.article-wrapper
    - var hasAltImage = article.header.altImage && article.header.altImage.id_;
    - var hasEmbed = article.header.embed && article.header.embed.embed;
    - var hasGallery = article.header.gallery && article.header.gallery.id_;

    header.content-header
      .title-wrapper
        .title
          h1
            span.header-1.balance-text= article.title
            span.header-2= article.subtitle
          +article-byline(article.contributors, article.date)
          +share-links('top')


      if hasEmbed
        .article-media(class="#{article.header.embed.type}")
          .media-outer
            .media-inner
              div.embed-source!= article.header.embed.embed

      else if hasGallery
        .article-media
          .media-outer
            .media-inner
              +slideshow(article.header.gallery.images, 'slideshow-header')
      else
        .article-media.article-image
          .media-outer
            .media-inner
              if hasAltImage
                +image-content(article.header.altImage, 'article-header')
              else
                +image-content(article.header.image, 'article-header')

      if article.header.caption
        .caption-outer
          .caption-inner
            div!= markdown(article.header.caption)

    +content(article.sections)

    .article-footer-wrapper
      .article-footer
        .article-footer-items-wrapper
          +share-links('bottom')
          if article.classification.tags.length > 0
            .article-footer-items.article-cls-items
              h4.items-title Tags:
              ul
                each item in article.classification.tags
                  li
                    a(href=urls.tag(item))= item.name
