include share

mixin cls-list(items, cls)
   ul
     each item in items
       li
         - var active = (cls && cls._id === item._id) ? 'active' : ''
         a(class=active, href=urls.classification(item))= item.title

mixin header(classifications, cls, tag)
  header(id="menu-bar", class="#{headerClass}")
    nav(id="nav-bar")
      a.menu-btn(href="#nav-drawer", title="Menu")
      .inner-bar
        a.logo(href=urls.start(), title="Startseite")

        if cls
          a.cls(href=urls.classification(cls), title=cls.title)= cls.title
        if tag
          a.cls(href=urls.tag(tag), title=tag.name)= tag.name

        if nextArticle
          a.next(href=urls.article(nextArticle.classification.category, nextArticle)) Nächster Artikel
        if article
          +share-links

        if prevArticle
         a.prev(href=urls.article(prevArticle.classification.category, prevArticle)) Voheriger Artikel

  nav(id="off-canvas-menu")
    .off-canvas-inner
      h4 Kategorien
      +cls-list(classifications.categories, cls)

      h4 Sammlungen
      +cls-list(classifications.collections, cls)

  div(id='content-cloak')


mixin header-categories(classifications, cls)
  //- .cls-nav-wrapper
  //-   nav.cls-nav
  //-     ul
  //-       each item in classifications.categories
  //-         li
  //-           - var active = (cls && cls._id === item._id) ? 'active' : ''
  //-           a(class=active, href=urls.classification(item))= item.title
