include share

mixin cls-list(items, cls)
   ul
     each item in items
       li
         - var active = (cls && cls._id === item._id) ? 'active' : ''
         a(class=active, href=urls.classification(item))= item.title


mixin header(classifications)
  header(id="menu-bar", class="#{headerClass}")
    nav(id="nav-bar")
      a.menu-btn(href="#nav-drawer", title="Menu") Menu
      .inner-bar
        a.logo(href=urls.start(), title="Startseite")

        .social-links
          ul
            li
              a.facebook(href="https://facebook.com/dasfilter", title="Das Filter auf Facebook")
            li
              a.twitter(href="https://twitter.com/dasfilter", title="Das Filter auf Twitter")
            li
              a.google-plus(href="https://plus.google.com/106616903211116456553", rel="publisher", target="_blank", title="Das Filter auf Google+")

        .search
          form(id="search", action="/suchen", method="get")
            input(name="q", type="text", value=searchValue, placeholder="Suchen")
            button(type="submit", value="Suchen") Suchen

  nav(id="off-canvas-menu")
    .off-canvas-inner
      h4 Kategorien
      +cls-list(classifications.categories, cls)

      h4 Sammlungen
      +cls-list(classifications.collections, cls)

  div(id='content-cloak')


mixin header-categories(classifications, cls)
  //- .cls-nav-wrapper
  //-   nav.cls-nav
  //-     ul
  //-       each item in classifications.categories
  //-         li
  //-           - var active = (cls && cls._id === item._id) ? 'active' : ''
  //-           a(class=active, href=urls.classification(item))= item.title
