mixin header(classifications, cls, tag, headerClass)
  header(id="header", class="#{headerClass}")
    nav(id="nav-bar")
      a(class="drawer-btn", href="#nav-drawer", title="Menu")
      .main-nav-outer
        .main-nav-inner
          a(class="header-logo", href=urls.start(), title="Startseite")

          if cls
            a(class="header-cls", href=urls.classification(cls), title=cls.title)
              span= cls.title
          if tag
            a(class="header-cls", href=urls.tag(tag), title=tag.name)
              span= tag.name

          a(class="header-social google-plus", href="https://plus.google.com/106616903211116456553", rel="publisher", target="_blank", title="Das Filter auf Google+")
          a(class="header-social facebook", href="https://facebook.com/dasfilter", title="Das Filter auf Facebook")
          a(class="header-social twitter", href="https://twitter.com/dasfilter", title="Das Filter auf Twitter")

    nav(id="nav-drawer")
      .drawer-inner
        h4 Kategorien
        ul
          each cls in classifications.categories
            li
              a(href=urls.classification(cls))= cls.title

        h4 Sammlungen
        ul
          each cls in classifications.collections
            li
              a(href=urls.classification(cls))= cls.title

  div(id='header-cloak')
