include image

mixin teaser(teaser)
  - var doc = teaser.doc
  - var classes = []
  - if (teaser.display) classes.push(teaser.display)
  - if (teaser.span) classes.push('span' + teaser.span)

  article.teaser(class=classes)
    .teaser-inner
      if teaser.title
        h2.teaser-meta-title= teaser.title

      .teaser-image-wrapper
        a.teaser-image(href=urls.article(doc.classification.category, doc))
          +image(doc.header.image, teaserType)

          if doc.classification.label
            h4.label= doc.classification.label

      .teaser-info-wrapper
        .teaser-info
          a.title(href=urls.article(doc.classification.category, doc))
            h1
              span.header-1= doc.title
              span.header-2= doc.subtitle

          .byline
            a.category(href=urls.classification(doc.classification.category))= doc.classification.category.title

            if doc.contributors.length > 0
              - var contributor = doc.contributors[0].contributor
              h4.contributor von #{contributor.firstname} #{contributor.lastname}

            h4.date= formatDate(doc.date)

          if teaser.showText
            .text!= markdown(doc.teaser)
