include image

mixin teaser-image(teaser)
  a.image-wrapper(href=urls.article(teaser.doc.classification.category, teaser.doc))
    +image-teaser(teaser.doc.header.image, teaser.span)


mixin teaser-info(teaser)
  .info-wrapper
    .info
      a.title(href=urls.article(teaser.doc.classification.category, teaser.doc))
        h1
          span.header-1.balance-text= teaser.doc.title
          span.header-2= teaser.doc.subtitle

      .byline
        h4.category
          a(href=urls.classification(teaser.doc.classification.category)) #{teaser.doc.classification.category.title}
        if teaser.doc.contributors.length > 0
          - var contributor = teaser.doc.contributors[0].contributor
          h4.contributor &nbsp;&ndash;&nbsp;von&nbsp;
            a(href=urls.contributor(contributor)) #{contributor.firstname} #{contributor.lastname}

      if teaser.showText
        .text!= markdown(teaser.doc.teaser)


mixin teaser(teaser, group)
  article.teaser(class="span#{teaser.span}")
    .teaser-inner
      if teaser.title
        h2.meta-title= teaser.title

      if !teaser.textonly
        +teaser-image(teaser)
      +teaser-info(teaser)
