include image


mixin teaser(teaserType, article, showText, hideCategory)
  article(class="teaser #{teaserType}")
    .teaser-inner
      .teaser-image
        a(class="teaser-content", href=urls.article(article.classification.category, article))
          +image(article.header.image, teaserType)

      a(class="teaser-info", href=urls.article(article.classification.category, article))
        .teaser-content
          .labels-wrapper
            .labels
              if article.classification.label
                - var clsClass = hideCategory ? 'cls-label' : ''
                h4(class="label generic #{clsClass}")= article.classification.label
              if !hideCategory
                h4(class="label category")= article.classification.category.title

          .title
            .title-text
              h1
                span(class="header-1")= article.title
                span(class="header-2")= article.subtitle

          if article.contributors.length > 0
            - var contributor = article.contributors[0].contributor
            h4(class="contributor") von #{contributor.firstname} #{contributor.lastname}

          h4(class="date")= formatDate(article.date)

          if showText
            .text!= markdown(article.teaser)
